footer
  .footer-inner
    img(src="images/footer-logo.png" alt="logo" width="144")
    .sns
      a(href="https://twitter.com/" target="_blank")
        img(src="images/twitter.png" alt="twitter" width="32")
      a(href="https://github.com/peke-pon/Cider" target="_blank")
        img(src="images/github.svg" alt="github" width="32")
    p Produced by Cider.2020
.line
  .left
  .right