doctype html
html(lang="ja")
  head
    block meta
    title #{title}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1")
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    link(rel="shortcut icon" content="/favicon.ico")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    block style
      link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Numans&display=swap" rel="stylesheet")
  body#top
    block content
    block footer
    block script