.tool
    ul
      li
        img(src="images/drop.svg" alt="twitter" width="32")
      li
        img(src="images/code.svg" alt="code" width="32")
      li
        img(src="images/image.svg" alt="image" width="32")
      li
        img(src="images/share.svg" alt="share" width="32")
      li#toTop
        img(src="images/up.svg" alt="up" width="32")
        br
        span.subTop Top